.content {
  margin-top: 35px;
}

.row {
  margin: 0 0 0 0;
}

.left-table {
  padding-left: 0;
}

.middle-table {
  padding-left: 0;
}

.right-table {
  padding-right: 0;
  padding-left: 0;
}

.datepickers {
  display: inline-block;
}

.datepicker-block {
  margin-bottom: 12px;
}

.right-datepicker {
  margin-left: 40px;
}

.datepicker-icon {
  margin-left: 5px;
}
