<div class="content">
  <div class="row">
    <div class="pull-left">
      <h4>Студенты</h4>
    </div>
    <div class="pull-right">
      <button class="btn btn-default navbar-btn" (click)="showEmptyModalForAdd()" type="submit">Добавить студента</button>
    </div>
  </div>

  <div class="form-group">
    <angular2-multiselect [data]="availableGroups" [(ngModel)]="selectedGroup"
                          [settings]="groupSelectDropdownSettings"
                          (onSelect)="getStudentsOfGroup()">
    </angular2-multiselect>
  </div>

  <ngx-datatable *ngIf="selectedGroup[0] != null" class="material" [rows]="students" [columnMode]="'force'"
                 [headerHeight]="40" [footerHeight]="40" [limit]="10"
                 [rowHeight]="'auto'" [selectionType]="'single'"
                 (activate)="selectStudentToUpdate($event)">
    <ngx-datatable-column prop="fio" name="ФИО"></ngx-datatable-column>
    <ngx-datatable-column prop="gender" name="Пол"></ngx-datatable-column>
    <ngx-datatable-column prop="title" name="Тема работы"></ngx-datatable-column>
    <ngx-datatable-column prop="executionPlace" name="Место выполнения работы"></ngx-datatable-column>
    <ngx-datatable-column prop="mentor" name="Руководитель"></ngx-datatable-column>
    <ngx-datatable-column prop="reviewer" name="Рецензент"></ngx-datatable-column>
    <ngx-datatable-column prop="report" name="Отчет (.pdf)">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <button *ngIf="value == true" type="button" class="btn btn-default" (click)="readFile(row, true)">
          <i class="glyphicon glyphicon-play-circle" aria-hidden="true"></i> Посмотреть
        </button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="presentation" name="Презентация (.pdf)">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <button *ngIf="value == true" type="button" class="btn btn-default" (click)="readFile(row, false)">
          <i class="glyphicon glyphicon-play-circle" aria-hidden="true"></i> Посмотреть
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <app-student-add-modal [isAddingNewStudent]="isAddingNewStudent" [student]="selectedStudent"
                         [selectedGroup]="selectedGroup" [selectedMentor]="selectedMentor"
                         [selectedReviewer]="selectedReviewer"
                         (studentSaved)="getStudentsOfGroup()"></app-student-add-modal>
</div>
