.criteria-block{
  margin-top: 35px;
}

.row {
  margin: 0;
}

.link {
  cursor: pointer;
}

.criteria-count{
  font-size: 15px;
  font-weight: bold;
}

.remove-criteria-button{
  cursor: pointer;
}

.input-group {
  margin-top: 8px;
}

.add-criteria-button {
  margin-left: 15px;
}

.input-text-black {
  color: black;
}

.input-text-blue {
  color: blue;
  font-weight: bold;
}

.result-mark {
  margin-top: 10px;

  .result-mark-inline {
    display: inline-block;
  }

  .result-mark-inline-select {
    width: initial;
    margin-left: 8px;
  }

  .button-save-result {
    margin-left: 8px;
  }
}
