<div class="criteria-block" *ngIf="activeSpeaker.id != null">
  <div class="row">
    <div class="pull-left">
      <h4>Оценки студента <strong class="text-danger">{{activeSpeaker.fio}}</strong> по критериям</h4>
      <h5>Всего критериев: <span class="criteria-count">{{criteriaToActiveSpeaker.length}}</span>
        <button class="btn btn-default add-criteria-button" (click)="createCriteria()"><i
          class="glyphicon glyphicon-plus"></i></button>
      </h5>
    </div>
  </div>
  <div *ngFor="let cr of criteriaToActiveSpeaker" class="criteria">
    <div class="input-group">
      <input placeholder="Критерий" type="text" class="form-control input-text-black" [(ngModel)]="cr.title">
      <nouislider [connect]="true" [min]="0" [max]="100" [tooltips]="[true]" [step]="1"
                  [(ngModel)]="cr.rating"></nouislider>
      <input placeholder="Комментарий" type="text" class="form-control input-text-black" [(ngModel)]="cr.comment">
      <span class="input-group-addon remove-criteria-button" (click)="removeCriteria(cr.index)">
            <i class="glyphicon glyphicon-remove-circle"></i>
        </span>
    </div>
  </div>

  <div class="result-mark row">
    <div>
      <label class="result-mark-label result-mark-inline col-sm-3 col-md-3 col-lg-3">Выставить оценку студенту (в баллах):</label>
      <nouislider class="col-sm-3 col-md-3 col-lg-3" [connect]="true" [min]="0" [max]="100" [tooltips]="[true]" [step]="1"
                  [(ngModel)]="resultMark"></nouislider>
      <button class="btn btn-default navbar-btn result-mark-inline button-save-result" (click)="saveCriteria()">
        Сохранить
      </button>
    </div>
  </div>
</div>
