<div class="content">
  <div class="row">
    <div class="pull-left">
      <h4>Выступающие сегодня (<strong class="text-danger">{{today.format("DD.MM.YYYY")}}</strong>) студенты</h4>
    </div>
    <div class="pull-right"
         *ngIf="selectedGroup[0] != null && principal != null && principal.roles.indexOf('SECRETARY') != -1
         && router.url.toString().includes('secretary')">
      <button class="btn btn-info navbar-btn" (click)="downloadProtocolsOfTodaySpeakers()">Скачать протоколы</button>
    </div>
  </div>

  <div class="form-group">
    <angular2-multiselect [data]="availableGroups" [(ngModel)]="selectedGroup"
                          [settings]="groupSelectDropdownSettings"
                          (onSelect)="getSpeakersStudentsOfGroup()">
    </angular2-multiselect>
  </div>

  <ngx-datatable *ngIf="selectedGroup[0] != null" #studentSpeakerTable
                 class="material expandable" [rows]="speakerStudents" [columnMode]="'force'"
                 [headerHeight]="40" [footerHeight]="40" [limit]="20" [rowClass]="getRowClass"
                 [rowHeight]="'auto'" (activate)="toggleExpandRow($event)">
    <ngx-datatable-row-detail [rowHeight]="'auto'">
      <ng-template let-row="row" ngx-datatable-row-detail-template>
        <div class="container-fluid">
          <h5>
            <strong>Руководитель</strong>: {{row.diplom.mentorFio || "нет информации"}}
          </h5>
          <h5>
            <strong>Рецензент</strong>: {{row.diplom.reviewerFio || "нет информации"}}
          </h5>
          <h5>
            <strong>Место выполнения</strong>: {{row.diplom.executionPlace || "нет информации"}}
          </h5>
          <h5>
            <strong>Результат</strong>: {{row.diplom.resultMark || "нет информации или оценка еще не выставлена"}}
          </h5>
          <h5>
            <strong>Статус</strong>: {{row.diplom.statusString || "нет информации"}}
          </h5>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>
    <ngx-datatable-column prop="fio" name="ФИО"></ngx-datatable-column>
    <ngx-datatable-column prop="title" name="Тема"></ngx-datatable-column>
    <div *ngIf="isPrincipalContainsRole('SECRETARY') && router.url.toString().includes('secretary')">
      <ngx-datatable-column prop="setActiveStudent" name="">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <i class="glyphicon glyphicon-education set-active-student-button text-info" aria-hidden="true"
             (click)="showSetActiveStudentModal(row)"></i>
        </ng-template>
      </ngx-datatable-column>
    </div>
    <div *ngIf="(isPrincipalContainsRole('PRESIDENT') || isPrincipalContainsRole('MEMBER'))
    && (router.url.toString().includes('president') || router.url.toString().includes('member'))">
      <ngx-datatable-column prop="report" name="Отчет (.pdf)">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <button *ngIf="value == true" type="button" class="btn btn-default" (click)="readFile(row, true)">
            <i class="glyphicon glyphicon-play-circle" aria-hidden="true"></i> Посмотреть
          </button>
        </ng-template>
      </ngx-datatable-column>
    </div>
    <div *ngIf="(isPrincipalContainsRole('PRESIDENT') || isPrincipalContainsRole('MEMBER'))
    && (router.url.toString().includes('president') || router.url.toString().includes('member'))">
      <ngx-datatable-column prop="presentation" name="Презентация (.pdf)">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <button *ngIf="value == true" type="button" class="btn btn-default" (click)="readFile(row, false)">
            <i class="glyphicon glyphicon-play-circle" aria-hidden="true"></i> Посмотреть
          </button>
        </ng-template>
      </ngx-datatable-column>
    </div>
  </ngx-datatable>

  <div class="question-block"
       *ngIf="selectedGroup[0] != null && activeSpeaker != null && principal != null && principal.roles.indexOf('SECRETARY') != -1
&& router.url.toString().includes('secretary')">
    <div class="row">
      <div class="pull-left">
        <h4>Вопросы к студенту <strong class="text-danger">{{activeSpeaker.fio}}</strong></h4>
        <h5 *ngIf="criteria.length == 0">Вопросов еще нет. Хотите <a (click)="createQuestion()"
                                                                     class="link">создать</a>
          новый? </h5>
        <h5 *ngIf="criteria.length != 0">Вопросов задано: <span class="question-count">{{criteria.length}}</span>
          Хотите <a
            (click)="createQuestion()" class="link">создать</a> новый? </h5>
      </div>
      <div class="pull-right" *ngIf="criteria.length != 0">
        <button class="btn btn-default navbar-btn" (click)="saveQuestions()">Сохранить</button>
      </div>
    </div>
    <div *ngFor="let cr of criteria">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="cr.text">
        <span class="input-group-addon remove-question-button" (click)="removeQuestion(cr.index)">
            <i class="glyphicon glyphicon-remove-circle"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="setActiveStudentConfirmModal" aria-hidden="true"
     id="setActiveStudentConfirmModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title">Подтверждение</h4>
      </div>
      <div class="modal-body">
        <h5>Выбрать текущего студента для защиты?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="setActiveStudent()">Согласиться</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отказаться</button>
      </div>
    </div>
  </div>
</div>


