.content {
  margin-top: 35px;
}

.row {
  margin: 0;
}

:host /deep/ .datatable-body-row.active .datatable-row-group {
  background-color: rgb(255, 251, 0) !important;
}

.set-active-student-button {
  font-size: 19px;
  cursor: pointer;
}
