.content {
  margin-top: 35px;
}

.row {
  margin: 0;
}

.set-active-student-button {
  font-size: 19px;
  cursor: pointer;
}

.question-block {
  margin-top: 35px;
}

.link {
  cursor: pointer;
}

.question-count {
  font-size: 15px;
  font-weight: bold;
}

.remove-question-button {
  cursor: pointer;
}

.input-group {
  margin-top: 8px;
}
