<div *ngIf="(activeSpeaker.id != null) && (countLaps < 5) ">
  <div *ngIf="time <=540000 || countLaps > 0">
    <h1 class="text-center"> {{ formatTime(time) }}</h1>
    <div class="btn-group-vertical center-block">
      <button class="btn" *ngIf="countLaps < 4" (click)="toggle()">
        <span *ngIf="!started && !flagStartDefense && (countLaps < 4)">Начать выступление</span>
        <span *ngIf="!started && flagStartDefense">Старт</span>
        <span *ngIf="started ">Пауза</span>
      </button>
      <button class="btn" *ngIf="flagStartDefense && (countLaps < 3)" (click)="lap()">Следующий этап</button>
      <button class="btn" *ngIf="flagStartDefense && (countLaps == 3)" (click)="showSetActiveStudentModal()">Закончить
        защиту
      </button>
      <button *ngIf="flagStartDefense && (countLaps < 4)" class="btn" (click)="reset()">Сброс</button>
      <!--<button *ngIf="(countLaps == 4)" class="btn" (click)=" saveTimestamp()">Сохранить время студента</button>-->
    </div>
  </div>

  <div *ngIf="time > 540000 && time < 60000 && countLaps == 0">
    <h1 class="text-warning text-center">{{ formatTime(time) }}</h1>
    <div class="btn-group-vertical center-block">
      <button class="btn btn-warning" (click)="toggle()">
        <span *ngIf="!started">Старт</span>
        <span *ngIf="started">Пауза</span>
      </button>
      <button class="btn btn-warning" (click)="lap()">Следующий этап</button>
      <button class="btn btn-warning" (click)="reset()">Сброс</button>
    </div>
  </div>

  <div *ngIf="time > 600000 && countLaps == 0">
    <h1 class="text-danger text-center">{{ formatTime(time) }}</h1>
    <div class="btn-group-vertical center-block">
      <button class="btn btn-danger" (click)="toggle()">
        <span *ngIf="!started">Старт</span>
        <span *ngIf="started">Пауза</span>
      </button>
      <button class="btn btn-danger" (click)="lap()">Следующий этап</button>
      <button class="btn btn-danger" (click)="reset()">Сброс</button>
    </div>
  </div>

  <div *ngIf="stopwatchService.laps.length > 0">
    <i class="glyphicon glyphicon-education set-active-student-button text-info" aria-hidden="true"
       (click)="showSetActiveStudentModal()">
    </i>

    <table class="table table-hover ">
      <thead>
      <tr>
        <th>Этап защиты</th>
        <th>Начало</th>
        <th>Конец</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let lap of stopwatchService.laps; let i = index; let last = last;">
        <td *ngIf="i==0">Выступление</td>
        <td *ngIf="i==1">Вопросы</td>
        <td *ngIf="i==2">Отзыв и рецензия</td>
        <td *ngIf="i==3">Заключительное слово</td>
        <td *ngIf="i==4">Время защиты</td>
        <td>{{ formatTime(lap.startMs) }}</td>
        <td *ngIf="last ">{{ formatTime(time) }}</td>
        <td *ngIf="!last ">{{ formatTime(lap.endMs) }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="setDoneStudentConfirmModal" aria-hidden="true"
       id="setDoneStudentConfirmModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          <h4 class="modal-title">Подтверждение</h4>
        </div>
        <div class="modal-body">
          <h5>Закончить защиту студента? Вы уверены, что все члены комиссии выставили оценки?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="setDoneStudent()">Согласиться</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Отказаться</button>
        </div>
      </div>
    </div>
  </div>
</div>
