<div class="content">
  <div class="row">
    <div class="pull-left">
      <h4>Выберите группу для выставления окончательных оценок за ВКР</h4>
    </div>
  </div>

  <div class="form-group">
    <angular2-multiselect [data]="availableGroups" [(ngModel)]="selectedGroup"
                          [settings]="groupSelectDropdownSettings"
                          (onSelect)="getSpeakersStudentsOfGroup()">
    </angular2-multiselect>
  </div>

  <ngx-datatable *ngIf="selectedGroup[0] != null" #studentSpeakerTable
                 class="material expandable" [rows]="speakerStudents" [columnMode]="'force'"
                 [headerHeight]="40" [footerHeight]="40" [limit]="20"
                 [rowHeight]="'auto'" (activate)="toggleExpandRow($event)">

    <ngx-datatable-row-detail [rowHeight]="'auto'">
      <ng-template let-row="row"   ngx-datatable-row-detail-template >
        <div class="result-mark row"   >
          <div class="pull-left">
            <label class="result-mark-inline">Выставить результирующую оценку студенту (в баллах):</label>
            <nouislider class="form-control" [connect]="true" [min]="0" [max]="100" [tooltips]="[true]" [step]="1"
                        [(ngModel)]="resultMark"></nouislider>
            <button class="btn btn-default navbar-btn result-mark-inline button-save-result" (click)="saveResult(row.id)">
              Сохранить
            </button>
          </div>
        </div>
        <button (click)="getAllCriteriaBySpeakerId(row.diplom.id)"> Получить оценки и критерии членов ГАК</button>
        <ngx-datatable #commissionTable
                       class="material expandable "
                       [rows]="commissionsList"
                       [columnMode]="'force'"
                       [headerHeight]="40"
                       [footerHeight]="40"
                       [limit]="20"
                       [rowHeight]="'auto'"
                       (activate)="toggleExpandRow2($event)"

        >
          <ngx-datatable-row-detail [rowHeight]="'auto'"  >
            <ng-template let-row="row"    ngx-datatable-row-detail-template >
              <div *ngFor = "let cr of allCriteria">
                     <span *ngIf="row.commission === cr.commission">
                       <ul>
                         <li>
                           {{cr.title}}: {{cr.rating}}
                       <strong *ngIf="cr.comment!='' ">Комментарий: {{cr.comment}} </strong>
                         </li>
                       </ul>

                     </span>
              </div>

            </ng-template>
          </ngx-datatable-row-detail>
          <ngx-datatable-column prop="commission" name="Член ГАК"></ngx-datatable-column>
        </ngx-datatable>

      </ng-template>
    </ngx-datatable-row-detail>


    <ngx-datatable-column prop="fio" name="ФИО"></ngx-datatable-column>
    <ngx-datatable-column prop="title" name="Тема"></ngx-datatable-column>



  </ngx-datatable>



</div>




