.btn-circle {
  border-radius: 15px;
  height: 34px;
  width: 34px;
}

.principal-menu-block {

  float: right;

  .principal {
    display: inline-block;
    margin-right: 12px;
    text-align: right;

    .principal-name {
      margin-left: 2px;
      text-decoration: underline;
    }
  }
}

.navbar-right {
  margin-right: 0;
}

.navbar-default .navbar-brand {
  color: #3a3a3a;
}

.active-link {
  color: #c3420d !important;
  border-bottom: 2px solid;
}

