<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Система поддержки ГАК</span>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Главная</a>
        </li>

        <li *ngFor="let role of rolesAndLinks">
          <a routerLink={{role.link}} routerLinkActive="active-link">{{role.role}}</a>
        </li>
      </ul>

      <div class="nav navbar-nav principal-menu-block">
        <button *ngIf="principal.id == null" class="btn btn-default navbar-btn" data-toggle="modal"
                data-target="#loginModal" data-backdrop="static" data-keyboard="false" type="submit">Вход в систему
        </button>

        <div *ngIf="principal.id != null">
          <div class="principal">
            <h5>Вы вошли как:
              <strong class="principal-name">{{principal.name}}</strong>
            </h5>
          </div>
          <button type="button" class="btn btn-warning btn-sm btn-circle navbar-btn" (click)="showLogoutModal()">
            Выход <span class="glyphicon glyphicon-log-out"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="logoutConfirmModal" aria-hidden="true"
     id="logoutConfirmModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title">Подтверждение</h4>
      </div>
      <div class="modal-body">
        <h5>Вы действительно хотите выйти из системы?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="logout()">Да</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
      </div>
    </div>
  </div>
</div>

<login-modal></login-modal>
