<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginModalLabel">Вход в систему</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" id="inputLoginLoginForm" placeholder="Логин" [(ngModel)]="user.login"
                   name="login">
          </div>
          <div class="form-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" id="inputPasswordLoginForm" placeholder="Пароль"
                   [(ngModel)]="user.password" name="password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)="clearWindow()">Закрыть</button>
        <button type="submit" class="btn btn-primary pull-right" (click)="enter()">Войти</button>
      </div>
    </div>
  </div>
</div>
