<div class="modal fade" id="studentAddModal" tabindex="-1" role="dialog" aria-labelledby="studentAddModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" (click)="clearWindow()" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <div *ngIf="isAddingNewStudent">
          <h4 class="modal-title" id="userAddModalLabel">Добавление нового студента</h4>
        </div>
        <div *ngIf="!isAddingNewStudent">
          <h4 class="modal-title" id="userUpdateModalLabel">Редактирование студента</h4>
        </div>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inputFirstnameStudentForm">Имя</label>
            <input type="text" class="form-control" id="inputFirstnameStudentForm" placeholder="Имя"
                   [(ngModel)]="student.firstname" name="firstname">
          </div>
          <div class="form-group">
            <label for="inputLastnameStudentForm">Фамилия</label>
            <input type="text" class="form-control" id="inputLastnameStudentForm" placeholder="Фамилия"
                   [(ngModel)]="student.lastname" name="lastname">
          </div>
          <div class="form-group">
            <label for="inputMiddlenameStudentForm">Отчество</label>
            <input type="text" class="form-control" id="inputMiddlenameStudentForm" placeholder="Отчество"
                   [(ngModel)]="student.middlename" name="middlename">
          </div>
          <div class="form-group">
            <label for="inputTitleStudentForm">Название темы</label>
            <input type="text" class="form-control" id="inputTitleStudentForm" placeholder="Название темы"
                   [(ngModel)]="student.title" name="title">
          </div>
          <div class="form-group">
            <label for="inputExecutionPlaceStudentForm">Место выполнения работы</label>
            <input type="text" class="form-control" id="inputExecutionPlaceStudentForm" placeholder="Место выполнения работы"
                   [(ngModel)]="student.executionPlace" name="executionPlace">
          </div>
          <div class="form-group">
            <label>Группа</label>
            <angular2-multiselect [data]="availableGroups" [(ngModel)]="selectedGroup" name="group"
                                  [settings]="groupSelectDropdownSettings"></angular2-multiselect>
          </div>
          <div class="form-group">
            <label>Руководитель</label>
            <angular2-multiselect [data]="availableMentors" [(ngModel)]="selectedMentor" name="mentor"
                                  [settings]="mentorSelectDropdownSettings"></angular2-multiselect>
          </div>
          <div class="form-group">
            <label>Рецензент</label>
            <angular2-multiselect [data]="availableReviewers" [(ngModel)]="selectedReviewer" name="reviewer"
                                  [settings]="reviewerSelectDropdownSettings"></angular2-multiselect>
          </div>
          <div class="form-group">
            <label>Отчет о проделанной работе (.pdf)</label>
            <input id="reportFile" type="file" name="report" (change)="getReportFile($event)">
          </div>
          <div class="form-group">
            <label>Презентация для выступления (.pdf)</label>
            <input type="file" name="presentation" (change)="getPresentationFile($event)">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" (click)="clearWindow()" data-dismiss="modal">
              Закрыть
            </button>
            <div *ngIf="isAddingNewStudent">
              <button type="submit" class="btn btn-primary pull-right"
                      (click)="save()">Добавить
              </button>
            </div>
            <div *ngIf="!isAddingNewStudent">
              <button type="submit" class="btn btn-danger"
                      (click)="delete()">Удалить
              </button>
              <button type="submit" class="btn btn-primary pull-right"
                      (click)="save()">Сохранить
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
